@import "variables";

.shop{
    &__item{
        margin-left: 0;
        border: 1px solid $grey_color;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: $text_color;
        font-family: $font;
        min-height: 358px;
        &_img{
            width: 208px;
            height: 208px;
            margin: 2px auto;
            display: block;
        }
        &_name{
            font-size: 12px;
            line-height: 14px;
            color: $text_color;
            font-weight: 300;
            font-family: $font;
        }
        &_price{
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }
        &_brand{
            margin-top: 235px;
            margin-left: calc(-20% + 2px);
            @media all and (max-width: $tablet_width){
                margin-left: calc(-33.33% + 2px);
            }
            @media all and (max-width: $mobile_width){
                margin-left: calc(-100% + 2px);
            }
            padding: 10px 16px!important;
            font-size: 12px;
            line-height: 14px;
            color: $text_color;
            font-weight: 300;
            font-family: $font;
            text-decoration: unset;
            min-height: unset;
        }
        &_buy{
            margin-left: calc(-20% + 2px);
            margin-top: 324px;
            padding-top: 2px!important;
            padding-bottom: 2px!important;
            @media all and (max-width: $tablet_width){
                margin-left: calc(-33.33% + 2px);
            }
            @media all and (max-width: $mobile_width){
                margin-left: calc(-100% + 2px);
            }
            &:hover{
                cursor: pointer;
            }
        }
        &:hover{
            box-shadow: 2px 5px 11px rgba(0,0,0,0.35);
        }
    }
    .span{
        &_2{
            width: calc(20% - 34px);
            padding: 16px;
            @media all and (max-width: $tablet_width){
                width: calc(33.33% - 34px);
            }
            @media all and (max-width: $mobile_width){
                width: calc(100% - 34px);
            }
        }
    }
}

header{
    min-height: 386px;
    padding: 40px #{$span_padding / 2};
    background: $grey_color;
    max-width: calc(1400px - #{$span_padding})!important;
    @media all and (min-width: $pc_width){
        .span_10{
            padding-left:  #{$span_padding * 2};
            width: calc(80% - #{$span_padding * 4});
        }
        .span_2{
            padding-right: #{$span_padding * 2};
            width: calc(20% - #{$span_padding * 4});
        }
    }
}

#in_cart{
    max-width: 70%;
    min-height: 300px;
    padding-left: 15%;
}

.in_cart{
    &_item{
        border: 1px solid #000;
        min-height: 25px;
        color: #000;
        margin: 6px 0;
        padding: 15px 25px 15px 0px;
        font-size: 16px;
        line-height: 19px;
        font-family: $font;
        .span_10{
            padding: 0;
            width: calc(80% - 25px);
            .in_cart_name{
                font-weight: bold;
                padding-bottom: 5px;
            }
        }
        .span_2{
            padding: 0;
            width: calc(20% - 25px);
            position: relative;
            &::after{
                content: "";
                position: absolute;
                background: red;
                height: 1px!important;
                right: 0;
                bottom: -0.4em;
                left: 0;
                transition: all .4s;
                width: 0;
                margin-bottom: -3px;
            }
            &:hover{
                color: red;
                cursor: pointer;
                &::after{
                    width: 100%;
                }
            }
            &:hover{
                color: red;
                cursor: pointer;
            }
        }
        &:hover{
            box-shadow: 2px 5px 11px rgba(0,0,0,0.35);
        }
    }
    .in_cart_products_count{
        position: relative;
        top: 100%;
    }
}

#clear_cart{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background: red;
        height: 2px;
        right: 0;
        bottom: -0.4em;
        left: 0;
        transition: all .4s;
        width: 0;
        margin-bottom: -3px;
    }
    &:hover{
        color: red;
        cursor: pointer;
        &::after{
            width: 100%;
        }
    }
}

.shop__item_buy{
    position: relative;

    &:hover{
        img{ 
            &:hover{
                cursor: pointer;
                transform: scale(1.25);
                transition: transform .3s;
            }
            &:active{
                transition: transform .45s;
                margin-top: -100px;
                opacity: 0.45;
            }
        }
        
    }
}
