@import "variables";

body{
    margin: 0;
    padding: 0;
    font-family: $font;
}

.container{
    @include container-width;
}

.row{
	margin-left: -$span_padding;
	vertical-align: top;
}

.span{	
	&_12{
		width: calc(100% - #{$span_padding});
	}
	&_11{
		width: calc(91.6667% - #{$span_padding});
	}
	&_10{
		width: calc(80% - #{$span_padding});
	}
	&_9{
		width: calc(75% - #{$span_padding});
	}
	&_8{
		width: calc(66.6667% - #{$span_padding});
	}
	&_7{
		width: calc(60% - #{$span_padding});
	}
	&_6{
		width: calc(50% - #{$span_padding});
	}
	&_5{
		width: calc(40% - #{$span_padding});
	}
	&_4{
		width: calc(33.3333% - #{$span_padding});
	}
	&_3{
		width: calc(25% - #{$span_padding});
	}
	&_2{
		width: calc(20% - #{$span_padding});
	}
	&_1{
		width: calc(8.3333% - #{$span_padding});
	}
    &_12,&_11,&_10,&_9,&_8,&_7,&_6,&_5,&_4,&_3,&_2,&_1{
        display: inline-block;
	    margin-left: $span_padding;
	    vertical-align: top;
    }
}

.alignleft{
    text-align: left;
}

.aligncenter{
    text-align: center;
}

.alignright{
    text-align: right;
}

.mt{
    margin-top: $span_padding;
    &_2{
        margin-top: $span_padding * 2;
    }
    &_3{
        margin-top: $span_padding * 3;
    }
}

.mb{
    margin-bottom: $span_padding;
    &_2{
        margin-bottom: $span_padding * 2;
    }
    &_3{
        margin-bottom: $span_padding * 3;
    }
}
