$pc_width: 1440px;
$tablet_width: 1200px;
$mobile_width: 990px;
$span_padding: 25px;
$grey_color: #EEEEEE;
$text_color: #444444;
$font: Roboto, Arial, Tahoma;

@mixin container-width() {    
    @media all and (min-width: $pc_width) {
        max-width: 1400px;
        margin-right: auto;
	    margin-left: auto;
    }
    @media all and (max-width: $tablet_width) {
        max-width: 1200px;
        margin-right: auto;
	    margin-left: auto;
    }
    @media all and (max-width: $mobile_width) {
        max-width: 100%;
    }
}