body{margin:0;padding:0;font-family:Roboto, Arial, Tahoma}@media all and (min-width: 1440px){.container{max-width:1400px;margin-right:auto;margin-left:auto}}@media all and (max-width: 1200px){.container{max-width:1200px;margin-right:auto;margin-left:auto}}@media all and (max-width: 990px){.container{max-width:100%}}.row{margin-left:-25px;vertical-align:top}.span_12{width:calc(100% - 25px)}.span_11{width:calc(91.6667% - 25px)}.span_10{width:calc(80% - 25px)}.span_9{width:calc(75% - 25px)}.span_8{width:calc(66.6667% - 25px)}.span_7{width:calc(60% - 25px)}.span_6{width:calc(50% - 25px)}.span_5{width:calc(40% - 25px)}.span_4{width:calc(33.3333% - 25px)}.span_3{width:calc(25% - 25px)}.span_2{width:calc(20% - 25px)}.span_1{width:calc(8.3333% - 25px)}.span_12,.span_11,.span_10,.span_9,.span_8,.span_7,.span_6,.span_5,.span_4,.span_3,.span_2,.span_1{display:inline-block;margin-left:25px;vertical-align:top}.alignleft{text-align:left}.aligncenter{text-align:center}.alignright{text-align:right}.mt{margin-top:25px}.mt_2{margin-top:50px}.mt_3{margin-top:75px}.mb{margin-bottom:25px}.mb_2{margin-bottom:50px}.mb_3{margin-bottom:75px}

/*# sourceMappingURL=grid.css.map */
